@import ./styles/color

.window
  width: 1366px
  height: 768px
  background-color: $light-grey
  display: flex
  justify-content: center
  margin: 10px auto

.main-container
  width: 100%
  display: grid
  // the second item is for the children
  grid-template-rows: 1fr minmax(0, 100%) 1fr
